html,body,div,span,object,iframe,hr,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,
img,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,
figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,
time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  outline:none;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

section,nav,article,aside,hgroup,header,footer {display:block}
mark,time {display:inline}

mark {
  background-color:#FF0;
  color:#333;
}

kbd {
  font-weight:bold;
  font-size:76%;
  padding:.2em .5em;
  border:2px outset;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

strong,b,th {font-weight:bold}
caption,dfn,em,figcaption,i,var {font-style:italic}
ins,u {text-decoration:underline}
del,strike {text-decoration:line-through}
small {font-size:80%}

sub,sup {
  position:relative;
  top:-.4em;
  font-size:80%;
}

sub {top:.4em}

blockquote {
  font-style:italic;
  font-size:110%;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:"";
  display:none;
}

html,
body {
  background:white;
  font:normal normal 12pt/1.4 Helmet,FreeSans,Sans-Serif;
  color:black;
}

body {padding:70px 30px 30px}

a { 
  color:blue;
  text-decoration:none;
}

a:after {content:" (" attr(href) ")"}

a[href^="javascript"]:after,
a[href^="#"]:after,
a[href$="gif"]:after,
a[href$="jpg"]:after,
a[href$="jpeg"]:after,
a[href$="png"]:after,
a[href$="GIF"]:after,
a[href$="JPG"]:after,
a[href$="JPEG"]:after,
a[href$="PNG"]:after {display:none}

h1,h2,h3,h4,h5,h6 {
  line-height:1;
  margin:22.154px 0 0;
  margin-top:1.3846153846153846rem;
  font-weight:bold;
}

h1 {font-size:200%}
h2 {font-size:180%}
h3 {font-size:160%}
h4 {font-size:140%}
h5 {font-size:120%}
h6 {font-size:100%}

hr {
  background:none;
  border:none;
  color:inherit;
  border-top:1px solid;
}

abbr[title],
dfn[title] {border-bottom:1px dotted}

abbr[title]:after,
dfn[title]:after {content:" (" attr(title) ")"}

code,pre {font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,Monospace}

pre {
  word-wrap:break-word;
  white-space:pre;
  white-space:-moz-pre-wrap;
  white-space:pre-wrap;
  border:1px solid;
  background:silver;
  padding:.5em .8em;
  color:inherit;
}

table {
  width:100%;
  border-collapse:collapse;
  page-break-inside:auto;
}

tr {
  page-break-inside:avoid;
  page-break-after:auto;
}

thead {display:table-header-group}
tfoot {display:table-footer-group}

th,
td {
  border:1px solid;
  padding:.5em .8em;
  text-align:left;
  vertical-align:top;
}

form,blockquote,hr,dl,dd,dt,fieldset,
figcaption,figure,ol,ul,p,pre,
table,.fluid-video,.grid-group,
.image-container {margin:1.3846153846153846em 0 0}

.p,
.footnotes {
  display:block;
  margin-top:1.3846153846153846em;
}

ol {
  margin-left:2.3846153846153846em;
  list-style:decimal outside;
}

ul {
  margin-left:2.3846153846153846em;
  list-style:disc outside;
}

ul > li > ul,
ol > li > ul {
  margin-left:1em;
  margin-top:0;
}

ol > li > ol,
ul > li > ol {
  margin-left:1.4em;
  margin-top:0;
}

li > p + ul,
li > p + ol,
li > .p + ul,
li > .p + ol {
  margin-top:1.3846153846153846em;
  margin-left:2.3846153846153846em;
}

dt {font-size:120%}
dd {margin-left:1em}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
form:first-child,
blockquote:first-child,
hr:first-child,
dl:first-child,
dd:first-child,
dt:first-child,
fieldset:first-child,
figure:first-child,
ol:first-child,
ul:first-child,
li > a + ol,
li > a + ul,
p:first-child,
pre:first-child,
table:first-child,
.fluid-video:first-child,
.image-container:first-child,
.p:first-child {margin-top:0}

img {
  display:block;
  page-break-before:auto;
  page-break-after:auto;
  page-break-inside:avoid;
}


/* PRINTABLE AREA */

.print-actions {
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:9999;
  overflow:hidden;
}

.print-actions a {
  display:block;
  float:left;
  margin:5px;
  font:normal normal 13px/1 Helmet,FreeSans,Sans-Serif;
  background-color:black;
  color:white;
  height:30px;
  line-height:30px;
  padding:0 11px;
}

.print-actions a:focus,
.print-actions a:hover {background-color:red}
.print-actions a:active {background-color:darkred}

.page-title {margin-top:0}


/**
 * Hide plugin stuff ...
 */

.toc-block,
.toc-back,
.toc-point {display:none}


/**
 * Hide toolbars ...
 */

@media print {
  body {padding:0}
  .print-actions {display:none}
}