html,body,div,span,object,iframe,hr,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,
img,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,
figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,
time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  outline:none;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

strong,b,th {font-weight:bold}
caption,dfn,em,figcaption,i,var {font-style:italic}
ins,u {text-decoration:underline}
del,strike {text-decoration:line-through}
small {font-size:80%}

sub,sup {
  position:relative;
  top:-.4em;
  font-size:80%;
}

sub {top:.4em}

blockquote {
  font-style:italic;
  font-size:110%;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:"";
  display:none;
}

html {
  font:normal normal 12pt/1.4 Helmet,FreeSans,Sans-Serif;
  background-color:white;
  color:black;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-size-adjust:100%;
}

body {padding:80px 50px 50px}

a {
  color:blue;
  text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
  line-height:1;
  margin:0 0 18px;
  margin-bottom:1.3846153846153846rem;
  word-wrap:break-word;
}

h1 {font-size:200%}
h2 {font-size:180%}
h3 {font-size:160%}
h4 {font-size:140%}
h5 {font-size:120%}
h6 {font-size:100%}

hr {
  background:none;
  border:none;
  color:inherit;
  border-top:1px solid;
}

abbr[title],
dfn[title] {
  text-decoration:none;
  border-bottom:1px dotted;
}

code,pre {font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,Monospace}

pre {
  word-wrap:break-word;
  white-space:pre;
  white-space:-moz-pre-wrap;
  white-space:pre-wrap;
  border:1px solid;
  background:silver;
  padding:.5em .8em;
  color:inherit;
}

table {
  width:100%;
  border-collapse:collapse;
  page-break-inside:auto;
}

tr {
  page-break-inside:avoid;
  page-break-after:auto;
}

thead {display:table-header-group}
tfoot {display:table-footer-group}

th,
td {
  border:1px solid;
  padding:.5em .8em;
  text-align:left;
  vertical-align:top;
}

iframe {
  display:block;
  border:none;
  background:none;
  width:100%;
  height:6.923076923076923em;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

form,blockquote,hr,dl,dd,dt,fieldset,
figcaption,figure,ol,ul,p,pre,table,iframe,
.fluid-media,.fluid-video,.grid-group,
.image-container,.p {margin:0 0 1.3846153846153846em}

ol {
  margin-left:2.3846153846153846em;
  list-style:decimal outside;
}

ul {
  margin-left:2.3846153846153846em;
  list-style:disc outside;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-left:1.3846153846153846em;
  margin-bottom:0;
}

dt {font-size:120%}
dd {margin-left:1em}

img {
  display:block;
  page-break-before:auto;
  page-break-after:auto;
  page-break-inside:avoid;
}

a:after {content:" (" attr(href) ")"}

a[href^="javascript"]:after,
a[href^="#"]:after,
a[href$="gif"]:after,
a[href$="jpg"]:after,
a[href$="jpeg"]:after,
a[href$="png"]:after,
a[href$="GIF"]:after,
a[href$="JPG"]:after,
a[href$="JPEG"]:after,
a[href$="PNG"]:after {display:none}

abbr[title]:after,
dfn[title]:after {content:" (" attr(title) ")"}


/* PRINTABLE AREA */

.print-action-group {
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:9999;
  overflow:hidden;
  font-size:86%;
}

.print-action-group a {
  display:block;
  float:left;
  margin:5px 0 5px 5px;
  font:normal normal 13px/1 Helmet,FreeSans,Sans-Serif;
  background-color:black;
  color:white;
  height:30px;
  line-height:30px;
  padding:0 11px;
}

.print-action-group a:after {display:none}

.print-action-group a:focus,
.print-action-group a:hover {background-color:red}
.print-action-group a:active {background-color:darkred}


/**
 * Hide plugin stuff ...
 */

.toc-block,
.toc-back,
.toc-point {display:none}


/**
 * Hide toolbars ...
 */

@media print {
  body {padding:0}
  .print-action-group {display:none}
}